@font-face {
  font-family: ProximaNova;
  src: url(../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Regular.otf);
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(../fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Bold.otf);
  font-weight: 700;
}
